<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display': confirmLangChangeModal}">
    <div class="modal-dialog modal-sm" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>language change cause you to re-login</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" (click)="confirmLangChange()" class="btn btn-default">Confirm</button>
                <button type="button" (click)="onCloseHandled()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>